@{
    ViewData["Title"] = "About";
}

<div class="col-sm-8 blog-main">
    <h2>About</h2>

    <h3>Blog with Asp Core</h3>

    <p>
        This is a didactic project to apply the concepts of ASP Core with the
        construction of a Blog engine with all the new features of ASP Core .
    </p>
</div>


