@model IList<Blog.Models.Post>

@foreach (var item in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@item.Title</h2>
        <p class="blog-post-meta">@item.PostedOn<a href="#"> @item.Meta</a></p>
        <div class="blog-description">
            @item.Description
        </div>
    </div>
}