@model Blog.Models.ViewModels.ListViewModel



<div class="col-sm-8 blog-main">
    <h1>@ViewBag.Title</h1>
    @if (Model.Posts.Count > 0)
    {
        @Html.Partial("_PostTemplate", Model.Posts)
    }
    else
    {
        <p>No Post Found</p>
    }    
    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Posts">Posts</a>
        <a class="btn btn-outline-secondary" asp-controller="Blog" asp-action="Posts">Home</a>
    </nav>

</div><!-- /.blog-main -->

<aside class="col-sm-3 ml-sm-auto blog-sidebar">
    <div class="sidebar-module">
        @Html.Partial("_Categories", Model.Categories)
    </div>
    <div class="sidebar-module">
        @Html.Partial("_LastPosts", Model.LastPosts)
    </div>
</aside><!-- /.blog-sidebar -->



